.footer {
    height: 100px;
    width: 100%;
    background: #232323;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer p {
    line-height: 24px;
    font-size: 16px;
    padding: 0;
    color: white;
    text-align: center;
}

.footer a {
    color: #8e61e2;
    text-decoration: none;
}

@media screen and (max-width: 1140px) {
    .footer p {
        line-height: 24px;
        font-size: 14px;
    }
}