.formControl {
    width: 100%;
    margin: 30px 0 !important;
    text-align: center;
}

.dropDown {
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    border: none;
    text-align: center;
    background-color: var(--grey);
    color: var(--light);
}

.title {
  text-align: center;
  display: block;
  width: calc(100%);
  margin: 30px 0;
}

.dropDown option{
  padding: 10px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  border: none;
  text-align: center;
  background-color: var(--grey);
  color: var(--light);
}

